<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTPSchubser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FTPSchubser.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="pasv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="folder" serializeAs="String">
                <value />
            </setting>
            <setting name="clipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shorten" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="url" serializeAs="String">
                <value />
            </setting>
            <setting name="shortenservice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="prompt_overwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeTo2200" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="downscale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="downscale_size" serializeAs="String">
                <value>1024</value>
            </setting>
        </FTPSchubser.Properties.Settings>
    </userSettings>
</configuration>